@import '~scss/colors';
@import '~scss/globals';

.action-bar {
  padding: 10px 12px;
  border-bottom: solid 3px $palette-2;
}

.action-icon {
  font-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $palette-2;
  }
}

.site-status {
  color: white;
  font-family: $font-1;
  font-weight: $fw-medium;
  font-size: 108%;

  .online {
    color: $palette-2-light;
    font-weight: $fw-heavy;
  }

  .offline {
    color: #dd5151;
    font-weight: $fw-heavy;
  }

  .loading {
    color: #969696;
  }
}

.doc-item {
  border-radius: 12px;
  border: 2px solid $palette-1;
  color: white;
  padding: 12px 9px;
  font-size: 115%;
  cursor: pointer;
  transition: 0.3s;
  font-family: $font-1;
  font-weight: $fw-heavy;
  text-align: center;

  &:hover {
    background: $palette-1;
    color: $text-main;
  }

  &.active {
    background: $palette-1;
    color: $text-main;
  }
}

.doc-text {
  color: white;
  font-size: 102%;
}

.doc-text h4 {
  margin-top: 40px;
}

.doc-category {
  border-bottom: 3px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;

  &.selected {
    border-color: $palette-1;
  }

  &:hover:not(.selected) {
    border-color: $palette-1-light;
  }
}
