$palette-1: #4ac9ad;
$palette-2: #e5989b;
$palette-3: #b5838d;
$palette-4: #6d6875;

$text-main: #3e3e3e;
$text-dark: #2b2b2b;

$palette-1-light: #97d4c7;
$palette-1-dark: #35ca99;

$palette-2-light: #f1bbbd;
$palette-2-light-2: #fbe8e8;
$palette-2-dark: #c9898b;
