@import '~scss/colors';
@import '~scss/globals';

@import '~scss/comp-export';
@import '~scss/loaders/3dot';


body {
  color: #fefefe;
  font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fefefe;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: $fw-heavy;
}

code {
  color: $palette-1!important;
}

a {
  color: $palette-2!important;
}

.content-container {
  max-height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #494949;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $palette-2;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $palette-2-dark;
  }
}
