@import '~scss/colors';
@import '~scss/globals';

.p-navbar {
  height: 100vh;
  border-right: 1px solid #656565;
}

.brand {
  font-weight: $fw-heavy;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 160%;
  margin-bottom: 20px;
  color: white;
}

.nav-item {
  font-family: 'Work Sans', sans-serif;
  font-weight: $fw-heavy;
  font-size: 130%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  margin-left: 9px;

  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
  padding: 12px 15px;
  color: white;

  &:hover:not(.active) {
    background: $palette-2-light-2;
    color: $text-main;
  }

  &.active {
    background: $palette-2;
    color: white;
  }

  .nav-icon {
    vertical-align: middle;
  }
}
